{% extends 'base.html' %} {% block body %}

<div class="ui raised segment">
  <h3 class="comfortaa">Change Password</h3>
  <form class="ui form" id="change_password">
    <div class="ui field">
      <input
        name="old"
        type="password"
        placeholder="Enter Current Password"
        required
      />
    </div>
    <div class="ui field">
      <div class="ui action input">
        <input
          name="new"
          type="password"
          placeholder="Enter New Password"
          id="new_password_input"
        />
        <button type="button" class="ui button" id="show_password">
          <i class="ui icon eye"></i> Show
        </button>
      </div>
    </div>
    <button type="submit" class="ui green button">Submit</button>
  </form>
</div>

{% endblock %} {% block scripts %} {% load static %}
<script src="{% static 'change_password.js' %}"></script>
{% endblock %}
