{% extends 'base.html' %} {% block body %}
<div class="ui raised segment">
  <b>User Engagement</b>
  <canvas id="userChart" width="200" height="70"></canvas>
</div>
<div class="ui two column stackable grid">
  <div class="column">
    <div class="ui raised segment">
      <b>User Complaints</b>
      <canvas id="postChart" width="100" height="100"></canvas>
    </div>
  </div>
  <div class="column">
    <div class="ui raised segment">
      <b>Articles</b>
      <canvas id="articleChart" width="100" height="100"></canvas>
    </div>
  </div>
</div>
{% endblock %}
<!---->
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
  var ctx = $("#userChart");
  var myLineChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: {{locations.label|safe}},
      datasets: [
        {
            label: '# of Users',
          data: {{locations.data|safe}},
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true
            }
          }
        ]
      }
    }
  });

  var pctx = $("#postChart");
  var postLineChart = new Chart(pctx, {
    type: "line",
    data: {
      labels: {{complaints.label|safe}},
      datasets: [
        {
            label: '# of Complaints',
          data: {{complaints.data|safe}},
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true
            }
          }
        ]
      }
    }
  });

  var actx = $("#articleChart");
  var postLineChart = new Chart(actx, {
    type: "polarArea",
    data: {
      labels: {{articles.label|safe}},
      datasets: [
        {
            label: '# of Articles',
          data: {{articles.data|safe}},
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true
            }
          }
        ]
      }
    }
  });
</script>
{% endblock %}
