<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Janatar Kalam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Satisfy"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Atma|Galada&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    {% load static %}
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Required Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/glide.core.min.css' %}" />

    <!-- Optional Theme Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/glide.theme.min.css' %}" />
    <style>
      body {
        font-family: "Montserrat", sans-serif;
        /* background: #ff512f; 
        background: -webkit-linear-gradient(
          to right,
          #ff512f,
          #f09819
        ); 
        background: linear-gradient(to right, #ff512f, #f09819); */
      }

      body.pushable > .pusher {
        background: #ff512f; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #ff512f,
          #f09819
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff512f, #f09819);
      }

      .bangla_heading {
        font-family: "Galada", cursive;
      }

      .bangla_body {
        font-family: "Atma", cursive;
      }

      .chevichef-logo-font {
        font-family: "Satisfy", cursive;
        color: red;
      }

      .comfortaa {
        font-family: "Comfortaa", cursive;
      }

      .montserrat {
        font-family: "Montserrat", sans-serif;
      }

      .white-text {
        color: white;
      }

      .thumbnail {
        width: 300px;
        height: 100px;
        border-radius: 8px;
      }

      .thumbnail2 {
        height: 200px;
        background-repeat: no-repeat;
      }

      .thumbnail2 img {
        display: block;
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
      }

      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      marquee:hover {
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
      }

      .sticky_menu {
        width: 100%;
      }

      .underline {
        border: 2px solid indigo;
        background-color: indigo;
        width: 40px;
        margin-bottom: 20px;
      }

      .input-field label {
        color: #d50000;
      }
      /* label focus color */
      .input-field input:focus + label,
      .materialize-textarea:focus:not([readonly]) + label {
        color: #d50000 !important;
      }

      .input-field input:focus,
      .materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #d50000 !important;
        box-shadow: 0 1px 0 0 #d50000 !important;
      }

      /* valid color */
      .input-field input[type="text"].valid {
        border-bottom: 1px solid #d50000;
        box-shadow: 0 1px 0 0 #d50000;
      }
      /* invalid color */
      .input-field input[type="text"].invalid {
        border-bottom: 1px solid #d50000;
        box-shadow: 0 1px 0 0 #d50000;
      }
      /* icon prefix focus color */
      .input-field .prefix.active {
        color: #d50000;
      }
    </style>
  </head>
  <body onload="startTime()">
    <br />
    <!-- <div class="container"> -->
    <div class="row">
      <div class="col s1 valign-wrapper">
        <span class="new badge red" style="padding-right: 20px"
          >Latest &gt;</span
        >
      </div>
      <div class="col s11">
        <marquee
          onmouseover="this.stop();"
          onmouseout="this.start();"
          style="margin-top: 4px"
        >
          {% for article in latest_articles %}
          <a
            href="articleView?id={{article.id}}"
            target="_blank"
            style="text-decoration: none; color: black"
            >{{article.title}}</a
          ><small class="grey-text" style="margin-right: 70px"
            >&nbsp;&nbsp;{{article.published_on}}</small
          ><i class="ui circle icon mini"></i>&nbsp;&nbsp;&nbsp; {% endfor %}
        </marquee>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 l4">
          <img
            src="{% static 'images/janatar_kolom.png' %}"
            height="80"
            width="120"
            style="margin-top: 20px"
            class="center-align"
          />
          <br />
          <b class="comfortaa">জনতার ভাষায়, জনতার সাথে |</b>
        </div>
        <div class="col s12 l8 right-align">
          <small id="current_time"></small>
          <br /><br />
          {% if user.is_authenticated %}
          <small style="color: grey"
            ><i class="ui user icon"></i> {{user.get_full_name}}</small
          >
          <br />
          <a href="/accountInfo" style="color: red"><b>My Account</b></a>
          {% else %}
          <a href="/joinus" style="color: red"><b>Join Us / Sign in</b></a>
          {% endif %}
          <br />
          <form
            class="input-field"
            method="GET"
            action="/search"
            style="width: 30%; float:right; margin-top: 5px; margin-bottom: 0px"
          >
            <i class="material-icons prefix">search</i>
            <input type="text" name="q" placeholder="Search" />
          </form>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <nav class="nav-extended red darken-4">
      <div class="container">
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            {% for category in articles %}
            <li class="tab">
              <a href="search?q={{category.name}}">{{category.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="hide-on-small-only">
      <div class="row">
        <div class="col m2" style="height: 400px">
          {% if image and image.tall_image_id|length > 0 %}
          <img
            src="{{image.tall_image_secure_url}}"
            height="400"
            width="200"
            style="margin-top: 20px"
          />
          {% else %}
          <div
            style="height: 400px; width: 200px; margin-top: 20px; background-color: lightgrey; text-align: center;"
          >
            <div>
              <br /><br /><br /><br />
              <span class="montserrat" style="font-size: large">Ad Here</span>
              <br />
              <p class="montserrat" style="font-size: x-large">200 x 400</p>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col m8">
          <div class="glide article_glide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                {% for article in latest_articles %}
                <li>
                  <div class="card z-depth-2" style="border-radius: 10px">
                    {% if article.images|length %}
                    <div
                      class="card-image"
                      style="overflow-wrap: break-word; border-radius: 10px;"
                    >
                      <img
                        src="{{article.images.0}}"
                        height="400px"
                        width="auto"
                      />
                      <a
                        href="articleView?id={{article.id}}"
                        class="card-title black text"
                        style="text-decoration-color: white;"
                        >{{article.title}}</a
                      >
                    </div>
                    {% endif %}
                  </div>
                  <!-- <div class="row">
                    <div class="col l6">
                      <img
                        class="responsive-img"
                        src="{{article.images.0}}"
                        height="400px"
                      />
                    </div>
                    <div
                      class="col l6"
                      style="height: 400px; margin-right: 20px; padding: 15px; width: 300px"
                    >
                      <p>
                        <a href="articleView?id={{article.id}}"
                          ><b>{{article.title}}</b></a
                        >
                        <br />
                        <br />
                        <span
                          style="background-color: red; color: white; padding: 5px"
                          >&nbsp;{{article.category.name}}&nbsp;</span
                        >
                        <br />
                        <small class="text-grey"
                          >{{article.published_on}}</small
                        >
                      </p>
                      <p>
                        dfjdkfkjfdfdkjfdj fkdfkdfkjd dkdjfkdk k kk djffkdfd kd
                        kdjf kd fkdjdk ojeek kdj kd kd kdjdog g k fkej fke
                        kmfmdnf d kd dkdfdkd k d
                      </p>
                    </div>
                  </div> -->
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                class="glide__arrow glide__arrow--left"
                data-glide-dir="<"
                style="height: 15%"
              >
                <i
                  class="material-icons"
                  style="background-color: red; color: white"
                  >chevron_left</i
                >
              </button>
              <button
                class="glide__arrow glide__arrow--right"
                data-glide-dir=">"
                style="height: 15%; background: black 0.8"
              >
                <i
                  class="material-icons"
                  style="background-color: red; color: white"
                  >chevron_right</i
                >
              </button>
            </div>
          </div>
        </div>
        <div class="col m2" style="height: 400px">
          {% if image and image.tall_image_id|length > 0 %}
          <img
            src="{{image.tall_image_secure_url}}"
            height="400"
            width="200"
            style="margin-top: 20px"
          />
          {% else %}
          <div
            style="height: 400px; width: 200px; margin-top: 20px; background-color: lightgrey; text-align: center;"
          >
            <div>
              <br /><br /><br /><br />
              <span class="montserrat" style="font-size: large">Ad Here</span>
              <br />
              <p class="montserrat" style="font-size: x-large">200 x 400</p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Latest Post -->
        <div class="col s12">
          <h5
            class="grey lighten-2 bangla_heading"
            style="border-left: 4px solid red; height: 50px; padding: 15px"
          >
            সর্বশেষ
          </h5>
          <div class="row">
            {% for article in latest_articles %}
            <div class="col l6 s12">
              <div class="card large">
                {% if article.images|length > 0 %}
                <div class="card-image">
                  <img src="{{article.generate_card_image_urls.0}}" />
                </div>
                {% endif %}
                <div class="card-content">
                  <span
                    style="background-color: red; color: white; padding-left: 5px; padding-right: 5px"
                    >{{article.category.name}}</span
                  >
                  <br />
                  <small class="grey-text">{{article.published_on}}</small>
                  <br />
                  <br />
                  <b>{{article.title|slice:":50"}} ...</b>
                  <p>
                    <small>{{ article.body|slice:":50" }}..</small>
                  </p>
                </div>
                <div class="card-action">
                  <span class="valign-wrapper"
                    ><i
                      class="material-icons"
                      style="background-color: red; color: white"
                      >chevron_right</i
                    >
                    &nbsp;
                    <a
                      class="grey lighten-5 black-text bangla_body"
                      href="articleView?id={{article.id}}"
                      target="_blank"
                    >
                      বিস্তারিত পরুন</a
                    ></span
                  >
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- End of Latest Post -->
        <!-- Categories -->
        {% for category in articles %} {% if category.articles|length > 0 %}
        <div class="col l6 s12">
          <h5
            class="grey lighten-2 bangla_heading"
            style="border-left: 4px solid red; height: 50px; padding: 15px"
          >
            {{category.name}}
          </h5>
          <div class="glide article_glide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                {% for article in category.articles %}
                <li>
                  <div class="card">
                    {% if article.images|length > 0 %}
                    <div class="card-image">
                      <img src="{{article.generate_card_image_urls.0}}" />
                      <a
                        href="articleView?id={{article.id}}"
                        class="card-title black text"
                        style="text-decoration-color: white;"
                        ><small>{{article.title|slice:":30"}} ...</small></a
                      >
                    </div>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                class="glide__arrow glide__arrow--left"
                data-glide-dir="<"
                style="height: 15%"
              >
                <i
                  class="material-icons"
                  style="background-color: red; color: white"
                  >chevron_left</i
                >
              </button>
              <button
                class="glide__arrow glide__arrow--right"
                data-glide-dir=">"
                style="height: 15%; background: black 0.8"
              >
                <i
                  class="material-icons"
                  style="background-color: red; color: white"
                  >chevron_right</i
                >
              </button>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    <footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <img
              src="{% static 'images/janatar_kolom.png' %}"
              height="80"
              width="140"
            />
            <p class="grey-text text-lighten-4">
              জনতার ভাষায়, জনতার সাথে |
            </p>
            <p>
              <small class="grey-text text-lighten-4">
                Vector images used in this application that are not part of the
                dyanamic news material are either propriatory or licensed
                exclusively to Chevichef Private Limited.
              </small>
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Important Links</h5>
            <ul>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="/showStaticArticle?id=1"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="/showStaticArticle?id=2"
                  >Legal Disclaimer</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 Janatar Kalam. All Rights Reserved
          <a class="grey-text text-lighten-4 right" href="http://devsiti.com"
            >A &lt;devsiti /&gt; production.</a
          >
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
      var slides = $("#post_glide");
      for (var i = 0; i < slides.length; i++) {
        var glide = new Glide(slides[i], {
          type: "slider",
          perView: 1,
          gap: 3,
          rewind: true,
          breakpoints: {
            800: {
              perView: 1
            },
            480: {
              perView: 1
            }
          }
        });
        glide.mount();
        if (i == 0) {
          glide.update({
            autoplay: 4000,
            hoverpause: true
          });
        }
      }

      var slides = $(".article_glide");
      for (var i = 0; i < slides.length; i++) {
        var glide = new Glide(slides[i], {
          type: "slider",
          perView: 1,
          gap: 3,
          rewind: true,
          breakpoints: {
            800: {
              perView: 1
            },
            480: {
              perView: 1
            }
          }
        });
        glide.mount();
        if (i == 0) {
          glide.update({
            autoplay: 4000,
            hoverpause: true
          });
        }
      }
    </script>
    {% load static %}
    <script src="{% static 'location.js' %}"></script>
    <script src="{% static 'index_page_functions.js' %}"></script>
    <script>
      window.getCookie = function(name) {
        var match = document.cookie.match(
          new RegExp("(^| )" + name + "=([^;]+)")
        );
        if (match) return match[2];
      };
      $(function() {
        $("marquee")
          .mouseover(function() {
            $(this).attr("scrollamount", 0);
          })
          .mouseout(function() {
            $(this).attr("scrollamount", 5);
          });
      });
      function startTime() {
        var today = new Date();
        var d = today.getDay();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var meridian = "am";
        m = checkTime(m);
        s = checkTime(s);
        if (h >= 12) {
          meridian = "pm";
        }
        document.getElementById("current_time").innerHTML =
          today.toDateString() + ", " + h + ":" + m + ":" + s + " " + meridian;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {
          i = "0" + i;
        } // add zero in front of numbers < 10
        return i;
      }
      function getDayText(i) {
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        return weekday[i];
      }
    </script>
    <script></script>
  </body>
</html>
