<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Janatar Kalam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Satisfy"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Atma|Galada&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <style>
      body {
        font-family: "Comfortaa", cursive;
      }

      body.pushable > .pusher {
        background: #ff512f; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #ff512f,
          #f09819
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff512f, #f09819);
      }

      .chevichef-logo-font {
        font-family: "Satisfy", cursive;
        color: red;
      }

      .comfortaa {
        font-family: "Comfortaa", cursive;
      }

      .white-text {
        color: white;
      }

      .bangla_heading {
        font-family: "Galada", cursive;
      }

      .bangla_body {
        font-family: "Atma", cursive;
      }
    </style>
  </head>
  <body>
    <div class="ui container">
      <br /><br />
      <div class="row">
        <div class="col s12 l6">
          <a href="/">
            <img
              src="{% static 'images/janatar_kolom.png' %}"
              height="130"
              width="250"
            />
          </a>
        </div>
        <div class="col s12 l6 right-align">
          <br /><br />
          {% if user.is_authenticated %}
          <small style="color: grey"
            ><i class="ui user icon"></i> {{user.get_full_name}}</small
          >
          <br />
          <a href="/accountInfo" style="color: red"><b>My Account</b></a>
          {% else %}
          <a href="/joinus" style="color: red"><b>Join Us / Sign in</b></a>
          {% endif %}
        </div>
      </div>
      <br /><br />
      {% if search_type == "ARCHIVE" %}
      <div class="ui one column stackable grid">
        <div class="ui column">
          <div class="card" style="padding: 20px">
            <h5>দৈনিক খবর খোঁজার জন্য তারিখ নথিভুক্ত করুন</h5>
            <br/>
            <form method="get" target="">
              <input type="hidden" name="type" value="ARCHIVE"/>
              <input type="date" name="search-date"/>
              <button class="btn" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
      <br/>
      {% endif %}
      <div class="ui one column stackable grid">
        <div class="ui column">
          {% if search_type != "ARCHIVE" %}
            <span class="" style="font-size: large"
              >আপনার খোঁজের ফলাফল <b>"{{query}}"</b></span
            >
          {% else %}
            <span class="" style="font-size: large"
              >{{ archive_search_date.date }} তারিখে, আমাদের সর্বমোট খবর ছিল {{ results }}</span
            >
          {% endif %}
          {% if results == 0 %}
          <br /><br /><br />
          <div style="text-align: center">
            <img
              src="https://img.icons8.com/cotton/64/000000/laptop-alert.png"
            />
            <br /><br />
            <h2 class="comfortaa">Nothing Was Found!</h2>
            <small style="color: grey"
              >Note: A search string must be atleast 4-characters long</small
            >
          </div>
          {% else %}
          <small style="color: grey"
            >&nbsp; &nbsp;আপনার জিজ্ঞাসাবাদের ভিত্তিতে এই নিম্নোক্ত উত্তরসমূহ
            পাওয়া গেছে
          </small>
          {% if posts|length %}
          <div class="ui divider"></div>
          <span id="title" class="montserrat">
            Posts
            <br />
            <small style="color: grey"
              >User reports related to their personal graviences.</small
            >
          </span>
          {% for p in posts %}
          <div class="ui segment" id="postView">
            <a href="/postView?id={{p.id}}" target="_blank" style="color: black"
              ><b>{{ p.title }}</b></a
            >
            <br />
            <small style="color: gray">{{p.posted_on}}</small>
            <br />
          </div>
          {% endfor %} {% endif %} {% endif %} {% if articles|length %}
          <div class="ui divider"></div>
          <br /><br />
          <span id="title" class="montserrat">
            খবর
            <br />
            <small style="color: grey"
              >{{query}} বিভাগের আজকের খবর |</small
            >
          </span>
          {% for a in articles %}
          <div class="card horizontal">
            {% if a.generate_card_image_urls|length > 0 %}
            <div class="card-image">
              <img src="{{a.generate_card_image_urls.0}}" />
            </div>
            {% endif %}
            <div class="card-stacked">
              <div class="card-content">
                <p class="bangla_heading" style="font-size: large">
                  <b>{{a.title}}</b>
                </p>
                <small style="color: grey">{{a.published_on}}</small>
              </div>
              <div class="card-action">
                <span class="valign-wrapper"
                  ><i
                    class="material-icons"
                    style="background-color: red; color: white"
                    >chevron_right</i
                  >
                  &nbsp;
                  <a
                    class="grey lighten-5 black-text bangla_body"
                    href="articleView?id={{a.id}}"
                    target="_blank"
                  >
                    বিস্তারিত পরুন</a
                  ></span
                >
              </div>
            </div>
          </div>
          {% endfor %} {% endif %} {% if static_articles|length %}
          <div class="ui divider"></div>
          <span id="title" class="montserrat">
            Head Articles
            <br />
            <small style="color: grey"
              >These are static information provided by the organisation about
              itself.</small
            >
          </span>
          {% for s in static_articles %}
          <div class="ui segment" id="postView">
            <b
              ><a style="color: black" href="/showStaticArticle?id={{s.id}}"
                >{{ s.title }}</a
              ></b
            >
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
    </div>
    <br /><br />
    <footer class="page-footer" style="background-color: rgb(138, 0, 0);">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <img
              src="{% static 'images/janatar_kolom.png' %}"
              height="80"
              width="140"
            />
            <p class="grey-text text-lighten-4">
              জনতার ভাষায়, জনতার সাথে |
            </p>
            <p>
              <small class="grey-text text-lighten-4">
                Vector images used in this application that are not part of the
                dyanamic news material are either propriatory or licensed
                exclusively to Chevichef Private Limited.
              </small>
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Important Links</h5>
            <ul>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="/showStaticArticle?id=1"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="/showStaticArticle?id=2"
                  >Legal Disclaimer</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2021-22 Janatar Kalam. All Rights Reserved
          <a class="grey-text text-lighten-4 right" href="http://devsiti.com"
            >A &lt;devsiti /&gt; production.</a
          >
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"
      type="text/javascript"
    ></script>
    {% load static %}
    <script src="{% static 'comment.js' %}"></script>
  </body>
</html>
